@page "/contacts/{Id:int}"
@inject HttpClient http

<PageTitle>In Touch - Contact Detail</PageTitle>

<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <p class="title">Contact Detail</p>
      <p class="subtitle">@(_contact.Name ?? "")</p>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container">
      <MainNavbar />
    </div>
  </div>
</section>
<div class="container">
  <div class="level">
    <div class="level-left">&nbsp;</div>
    <div class="level-right">
      <a @onclick="OnDelete">Delete</a> this contact.
    </div>
  </div>

  <div class="mt-4" hidden="@(_isLoadingContact)">
    <ContactDetailForm TargetContact="_contact" HasCancelled="ContactDetailCancelledHandler"
      HasSaved="ContactDetailSavedHandler">
    </ContactDetailForm>
  </div>

  <div class="box mt-4">
    <p class="title is-3">Contact Methods</p>
    <ContactMethodsForContact ContactId="@Id"></ContactMethodsForContact>
  </div>

  <div class="box mt-4">
    <p class="title is-3">Communication</p>
    <CommunicationForContact ContactId="@Id"></CommunicationForContact>
  </div>
</div>

<PromptDialog Show="_showDeleteConfirmation" OnApprove="PerformDelete" OnDecline="CancelDelete"> Do you really want to
  delete this contact? <strong>@_contact.Name</strong> </PromptDialog>

@code {
  [CascadingParameter]
  public string ApiBaseUrl { get; set; } = "";
  [Parameter]
  public int Id { get; set; } = 0;
  public bool _showDeleteConfirmation = false;
  public ContactDto _contact = new ContactDto();
  public ContactDto _contactOriginal = new ContactDto();

  private bool _isLoadingContact = false;

  protected override async Task OnInitializedAsync()
  {
    await LoadContact();
  }

  public async Task LoadContact()
  {
    _isLoadingContact = true;
    try
    {
      _contact = await http.GetFromJsonAsync<ContactDto>($"{ApiBaseUrl}contacts/{Id}")
      ?? new ContactDto();
      _contactOriginal = _contact;
    }
    catch (HttpRequestException ex)
    {
      Console.WriteLine($"Error loading contact {Id}. {ex.FriendlyMessage()}");
    }
    catch (Exception ex)
    {
      Console.WriteLine($"Error loading contact {Id}. {ex.FriendlyMessage()}");
    }
    finally
    {
      _isLoadingContact = false;
    }
  }

  public async Task ContactDetailSavedHandler(bool success)
  {
    if (success)
    {
      // TODO toast
      Console.WriteLine("Successfully saved the contact.");
      await LoadContact();
    }
    else
    {
      // TODO toast
      Console.WriteLine("Failed to save the contact.");
    }
  }

  public void ContactDetailCancelledHandler()
  {
    // TODO toast
    _contact = _contactOriginal;
  }

  public void OnDelete()
  {
    _showDeleteConfirmation = true;
    StateHasChanged();
    Console.WriteLine("[ContactDetailPage] Delete was clicked.");
  }

  public void CancelDelete()
  {
    _showDeleteConfirmation = false;
    Console.WriteLine("[ContactDetailPage] Delete was cancelled.");
  }

  public async Task PerformDelete()
  {
    Console.WriteLine("[ContactDetailPage] Performing delete..");
    try
    {
      var response = await http.DeleteAsync($"{ApiBaseUrl}contacts/{Id}");
      if (response.IsSuccessStatusCode)
      {
        await LoadContact();
      }
    }
    catch (Exception ex)
    {
      Console.WriteLine($"Error deleting contact {Id}. {ex.FriendlyMessage()}");
    }
    finally
    {
      _showDeleteConfirmation = false;
    }
  }
}